@font-face {
  font-size: 16px;
  font-family: "Prata-Regular";
  font-weight: normal;
  src: url("/font/Prata-Regular.ttf") format("truetype");
}

@font-face {
  font-size: 16px;
  font-family: "Pretendard";
  font-weight: normal;
  src: url("/font/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-size: 16px;
  font-family: "studio-sans";
  font-weight: normal;
  src: url(/font/StudioSans-Bold.otf) url(/font/StudioSans-ExtraBold.otf)
    url(/font/StudioSans-ExtraLight.otf) url(/font/StudioSans-Light.otf)
    url(/font/StudioSans-Medium.otf) url(/font/StudioSans.otf) format("oft");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, prata;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Prata-Regular";
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
