@import "tailwindcss";

@font-face {
  font-size: 16px;
  font-family: "Prata-Regular";
  font-weight: normal;
  src: url("./assets/fonts/Prata-Regular.ttf") format("truetype");
}

@font-face {
  font-size: 16px;
  font-family: "Pretendard";
  src: url("./assets/fonts/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-size: 16px;
  font-family: "studio-sans";
  font-weight: normal;
  src: url("./assets/fonts/StudioSans-Bold.otf")
    url("./assets/fonts/StudioSans-ExtraBold.otf")
    url("./assets/fonts/StudioSans-ExtraLight.otf")
    url("./assets/fonts/StudioSans-Light.otf")
    url("./assets/fonts/StudioSans-Medium.otf")
    url("./assets/fonts/StudioSans.otf") format("oft");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, prata;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Pretendard";
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: inherit;
}
