.form_container {
    position: absolute;
    top: 200px;
    right: 205px;
    width: 420px;
    height: 440px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.header {
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    height: 70px;
    display: flex;
    background-color: #dee2e6;
}

.loginHeader {
    flex: 1; /* 헤더의 왼쪽 반을 차지하도록 설정 */
    text-align: center;
    width: 50%;
    display: inline-block;
    padding-top: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 30px 0 0;
}

.signUpHeader {
    flex: 1; /* 헤더의 오른쪽 반을 차지하도록 설정 */
    text-align: center;
    width: 50%;
    display: inline-block;
    padding-top: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px 0 0 0;
}

.loginHeader.active,
.signUpHeader.active {
    background-color: white; /* 선택된 탭의 배경색 */
}

.inputGroup {
    display: flex;
    position: relative;
}

.inputIcon {
    position: absolute;
    left: 10px;
    top: 18px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

input {
    margin-bottom: 40px;
    padding: 8px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background-color: #dee2e6;
    border: none;
    padding-left: 40px;
}

input::placeholder {
    font-size: 10px;
}

.loginButton {
    background-color: #000; 
    color: #fff; 
    width: 350px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: -13px;
    font-size: 20px;
    padding-top: 6px;   
}

.signupButton {
    background-color: #5F5F5F; 
    color: #fff; 
    width: 350px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 70px;
    font-size: 20px;
    padding-top: 6px;   
}

.logoContainer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 45px;
}

.logo:first-child {
    margin-left: 40px;
}

.logoName {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    margin-right: 4px;
}