.mypage_detail_container {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 15%;
    box-sizing: border-box;
    margin-left: 5%;
}
.mypage_detail_temp_container{
    margin-top: 5%;
}
.mypage_detail_profile {
    background-color: #D9D9D9;
    width: 225px;
    height: 225px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.initialProfileImg {
    object-fit: cover; 
}

.uploadedProfileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.mypage_detail_info {
    color: black;
}

.mypage_detail_info_table {
    margin-left: 5%;
    width: 100%;
    border-collapse: collapse;
}

.mypage_detail_info_table td {
    padding: 15px 15px; /* 위아래 여백을 조절하여 높이를 줄입니다. */
    border-bottom: 1px solid black;
    vertical-align: middle;
    text-align: right;
}

.mypage_detail_info input[type="text"],
.mypage_detail_info input[type="email"],
.mypage_detail_info input[type="password"],
.mypage_detail_info input[type="tel"] {
    width: 250px;
}

.mypage_detail_info_table td:first-child {
    font-weight: bold;
    text-align: left; /* 첫번째 td 안의 텍스트를 오른쪽 정렬합니다. */
}

.mypage_detail_info input[type="button"] {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    height: 46px;
    text-align: center;
    line-height: 30px; /* 버튼의 높이와 같은 높이로 텍스트를 세로 중앙 정렬합니다. */
    vertical-align: middle; /* 버튼을 수직 중앙 정렬합니다. */
    display: inline-block; /* 인라인 요소로 지정하여 수직 정렬이 적용되도록 합니다. */
}

.mypage_detail_info input.input_field {
    width: 100%; /* 텍스트 필드의 너비를 100%로 설정 */
    padding: 8px; /* 텍스트 필드의 안쪽 여백 설정 */
    box-sizing: border-box; /* 패딩과 경계 상자 크기를 포함하여 요소의 크기를 계산 */
    border: none;
    outline: none; /* 포커스 시 테두리 제거 */
}

.mypage_detail_info_table td input {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 200px;
}

.mypage_detail_button_div {
    display: flex;
    justify-content: center;
    padding-right: 15px;
    margin-top: 30px;
}

.mypage_detail_button_div button {
    border-radius: 15px;
    width: 40%;
    height: 30px;
    background-color: #746C6C;
    color: white;
    border: none;
}