.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
.loading-spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-left-color: #7986cb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }