.shopping_list_container {
    margin: auto;
    width: 70%;
    margin-top: 10%;
    border-bottom: solid 1px black;
}

.shopping_list_title {
    margin-bottom: 20px;
    font-size: 24px;
}

.shopping_list_table {
    width: 100%;
    border-collapse: collapse;
}
button {
    margin-left: auto; /* 버튼을 오른쪽으로 밀어내기 위해 필요 */
    width: 100px;
    height: 33px;
    color : white;
    font : bold;
    border-radius: 6px;
    background-color: #746C6C;
}

.header_div {
    display: flex;
    align-items: center; /* 세로 정렬 설정 */
    border-bottom: solid 2px black; /* 이 줄을 추가하여 헤더 아래에 밑줄을 추가합니다. */

}


.shopping_list_thead {
    width: 100%;
    border-bottom: solid 1px black;
}

.shopping_list_thead th,
.shopping_list_table td {
    padding: 10px;
    text-align: center;
}

.shopping_list_thead th:first-child,
.shopping_list_table td:first-child {
    width: 25%;
}

.image_div {
    background-color: #D9D9D9;
    width: 80%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1 {
    width: 120px;
    height: 120px;
}

.image2 {
    width: 100%;
    height: 100%;
}

.shopping_list_thead th:nth-child(2),
.shopping_list_table td:nth-child(2) {
    width: 20%;
}

.shopping_list_thead th:nth-child(3),
.shopping_list_table td:nth-child(3) {
    width: 15%;
}

.shopping_list_thead th:nth-child(4),
.shopping_list_table td:nth-child(4) {
    width: 15%;
}

.shopping_list_thead th:nth-child(5),
.shopping_list_table td:nth-child(5) {
    width: 20%; /* 네 번째 열의 너비를 20%로 지정 */
}

.shopping_list_thead th:nth-child(5) {
    text-align: center; /* 텍스트를 가운데로 정렬 */
}


.check_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label > span {
    vertical-align: middle;
    padding-left: 5px;
}

input[type="checkbox"] + label:before {
    content: "\2713"; /* 체크 표시(✓)를 유니코드로 설정 */
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #b2b2b2; /* 선택되지 않았을 때의 테두리 색상 */
    border-radius: 4px;
    color: #b2b2b2; /* 선택되지 않았을 때의 텍스트 색상 */
}

input[type="checkbox"]:checked + label:before {
    background-color: white; /* 선택됐을 때의 배경색 */
    color: black; /* 선택됐을 때의 텍스트 색상 */
    border: 2px solid black; /* 선택되지 않았을 때의 테두리 색상 */
}

.choose_span{
    margin-left : 80%;
    margin-top : 10px;
    text-decoration-line: underline;
}
