.uploadImgModal {
    display: none; /* 기본적으로 모달을 보이지 않게 설정 */
    position: fixed; /* 페이지에 고정 */
    z-index: 1000; /* 다른 요소들 위에 오도록 z-index 설정 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
    background-color: rgba(0, 0, 0, 0.4); /* 어두운 배경 */
}

.uploadImgModal-content {
    background-color: #55555538;
    margin: 15% auto; /* 상하 15% 여백, 좌우는 자동으로 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달창 너비 */
}

.uploadImgModal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.uploadImgModal-close:hover,
.uploadImgModal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

